Bearer versus bearer

I have an API using OAuth 2.0 authorization. Developers for this API use the 'Try it' button.

This API has been in use for awhile. Developers used the deprecated portal 'Try it'.
The API 'Try it' received 401 error in the current because the new portal sends "bearer" in all lowercase.
The deprecated 'Try it' worked correctly because it sends "Bearer."

Steps to Reproduce

1. Sign into Portal (either new or legacy)
2. Browse to API
3. Browse to API Call
4. Press Try It
5. Change Authorization from "No auth" to Authorization code

Below is an image that shows the "bearer" content in the new portal.
![image](https://user-images.githubusercontent.com/1104612/120808578-d2b19700-c50e-11eb-9f6b-971a5a9026d0.png)

Below is an image that shows the "Bearer" content in the deprecated portal.
![image](https://user-images.githubusercontent.com/1104612/120808680-ea891b00-c50e-11eb-8468-f5b370ec3b37.png)

I am surprised the two versions of the developer portal (deprecated & new) produce two different Bearer tokens.
For the API I support, the preference is to modify the new portal to use "Bearer" instead of "bearer".

@stinggray, the OAuth specification doesn't tell us anything about "bearer" word casing. The service that accepts the token should take this into account. Also, we've seen questions about both casing variants, which means someone will always be unhappy. The only way to solve it, it seems, is to allow users to choose the casing, but it's not a high priority for us (please feel free to contribute though).

**I'm not so sure that OAuth specification doesn't tell anything. First according to conventions**
[1.9](https://datatracker.ietf.org/doc/html/rfc6749#section-1.9).  Notational Conventions
   ...
   Unless otherwise noted, all the protocol parameter names and values
   are case sensitive.

**More details about bearer token are in section 7.1 where is example with Bearer and important advice to use detailed RFC6750.**
   [7.1](https://datatracker.ietf.org/doc/html/rfc6749#section-7.1).  Access Token Types
   ...
   The above examples are provided for illustration purposes only.
   Developers are advised to consult the [[RFC6750](https://datatracker.ietf.org/doc/html/rfc6750)] and [[OAuth-HTTP-MAC](https://datatracker.ietf.org/doc/html/rfc6749#ref-OAuth-HTTP-MAC)]
   specifications before use.
   
**And in RFC6750:**
[2.1](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1).  Authorization Request Header Field
When sending the access token in the "Authorization" request header
   field defined by HTTP/1.1 [[RFC2617](https://datatracker.ietf.org/doc/html/rfc2617)], the client **uses the "Bearer"**
   authentication scheme to transmit the access token.

   For example:

     GET /resource HTTP/1.1
     Host: server.example.com
     **Authorization: Bearer mF_9.B5f-4.1JqM**

   The syntax of the "Authorization" header field for this scheme
   follows the usage of the Basic scheme defined in [Section 2 of
   [RFC2617]](https://datatracker.ietf.org/doc/html/rfc2617#section-2).  Note that, as with Basic, it does not conform to the
   generic syntax defined in [Section 1.2 of [RFC2617]](https://datatracker.ietf.org/doc/html/rfc2617#section-1.2) but is compatible
   with the general authentication framework being developed for
   HTTP 1.1 [[HTTP-AUTH](https://datatracker.ietf.org/doc/html/rfc6750#ref-HTTP-AUTH)], although it does not follow the preferred
   practice outlined therein in order to reflect existing deployments.
   The syntax for Bearer credentials is as follows:

     b64token    = 1*( ALPHA / DIGIT /
                       "-" / "." / "_" / "~" / "+" / "/" ) *"="
     credentials = "Bearer" 1*SP b64token

   **Clients SHOULD make authenticated requests with a bearer token using
   the "Authorization" request header field with the "Bearer" HTTP
   authorization scheme.**  Resource servers MUST support this method.

It should use Bearer with capital letter.
   